@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "consola";
  src: url("/fonts/consola.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "consolab";
  src: url("/fonts/consolab.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "consolai";
  src: url("/fonts/consolai.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "consolaz";
  src: url("/fonts/consolaz.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}